<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="contenedorLogo">
          <ion-img class="imagenLogo" src="assets/logo_csi_1.png"></ion-img>
        </div>
        <ion-card>
          <ion-card-header>
            <ion-card-title class="titulo">Cuenta Pendiente</ion-card-title>
          </ion-card-header>
          <ion-card-content>
           <p class="ion-text-center blanco">En este momento estamos validando toda la información que nos enviaste. Tan pronto nuestro equipo de validación de datos complete el proceso tu cuenta será activada y recibirás un correo electrónico de confirmación.</p>
          </ion-card-content>
        </ion-card>
        <ion-button color="secondary" (click)="regresar()" routerLinkActive="router-link-active"  expand="block">Aceptar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
